################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnAPI/bin/Debug/net7.0
/LearnAPI/obj
